header {
  background-color: LightBlue;
  text-align: center;
  font-size: 38px;
  font-family: Georgia;
  padding: 20px 0px 20px 0px
}

.preferences,
.places,
.results {
  background-color: FloralWhite;
  padding: 10px 10px 20px 10px;
}

.results {
  padding-bottom: 50px;
}

.place {
  border-style: solid;
  border-width: 1px;
  border-color: dimgray;
  border-radius: 5px;
  padding: 10px 0px 5px 5px
}

.instr {
  text-decoration: underline;
  font-size: 22px;
  margin-bottom: 8px;
}

.invis {
  display: none;
}

.vis {
  margin: 0px;
}

input {
  width: 110px;
}

#rain {
  width: 55px;
  position: relative;
  left: 5px
}

#umbr,
#chan {
  font-size: 20px;
}

#umbr,
#loc {
  margin-top: 10px;
}

.row label {
  width: 50px;
}